table, tbody, tr {
    border: 1px black solid;
    border-collapse: collapse;
}


.completed {
    text-decoration-line: line-through;
}

.hidden {
    display:none;
}


#add_item{
    display:inline;
}

table {
    width: 90%;
}

input {
    margin: auto auto;
}

tr:nth-child(3) {
    justify-content: right;
}
