table, tbody, tr {
    border: 1px black solid;
    border-collapse: collapse;
}

table {
    width:95%;
}

td:nth-child(1), td:nth-child(3) {
    width: 20%;
}

.completed {
    text-decoration-line: line-through;
}

.hidden {
    display:none;
}


#add_item{
    display:inline;
}

table {
    width: 90%;
}

input {
    margin: auto auto;
}

.delete {
    text-align: right;
    padding-right: 10px;
}


